/* ----- FLECHE REMONTER ----- */
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    color: white;
    background-color: #3a3f51;
    border: 1px solid #3a3f51;
    font-size: 20px;
    text-align: center;
    line-height: 37px;
    margin-bottom: 7em;
}
.scrollup:hover {
    color: white;
}
/* fin arrow */

/* arrow pour defiler en bas sur index */
@media (max-width: 630px) {
    .fa-arrow-circle-down {
        z-index: 1000;
        margin: 4px;
        font-size: 40px;
        color: #8a0016;
    }
}
@media (min-width: 630px) {
    .fa-arrow-circle-down{
        display: none;
    }
}

