{% if trick.hasVideos  %}{# Si videos existent #}
    <h1 class="media-grand-ecran">Videos</h1>
    <div class="row jumbotron media-grand-ecran">
        {% for video in trick.mediaVideos %}
            <div class="petite col-lg-4 media center-block ">
                <div class="row">
                    <div class="col-12 marge">
                        {{ video.video|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}