
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Tricks web site">
        <meta name="author" content="Jimmy Sweat">
        <title>{% block title %}Jimmy's Tricks{% endblock %}</title>
        {% block stylesheets %}
            {% include 'css.html.twig' %}
        {% endblock %}
    </head>
    <body>
    {% block body %}
            {% block navigation %}
                {% include 'navbar.html.twig' %}
            {% endblock %}

            {% block content %}{% endblock %}

            {% block footer %}
                {% include 'footer.html.twig' %}
            {% endblock %}

            {% block javascripts %}
                {% include 'js.html.twig' %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
























