
Mail de confirmation

Bienvenue {{ user.username }} !

Tu peux activer ton compte en cliquant ici :  <a href="{{ absolute_url(path('activate', {"token": user.token})) }}">Activer</a>

Envoyé par SnowTricks