<footer class="copyright">
    <div class="container">
        <div class="row text-center">
            <p id="copyright-text">Copyright &copy; Jimmy's Tricks 2018 | Tous droits résérvés</p>
        </div>
    </div>
</footer>