{% extends 'base.html.twig' %}

{% block body %}

    <div class="container error-section">
        <div  class="bg-faded-error rounded p-5 text-center">
            <h4>
                <p>Oops ! <span class="error-code">Une erreur</span> s'est produite</p>
                <p>L'accès est refusé</p>
                <p>Le serveur retourne - <span class="error-code">{{ status_code }} : {{ status_text }}</span>.</p>
                <img src="{{ asset('img/error.jpg')}}">
                <p>Revenir sur la page <a class="error-code" href="{{ path('homepage') }}">d'accueil</a></p>
            </h4>
        </div>
    </div>

{% endblock %}