{% extends 'base.html.twig' %}

{% block content %}

    <section class="page-section about-heading">
        <div class="container">
            <div class="about-heading-content">
                 <div class="row">
                      <div class="col-xl-9 col-lg-10 mx-auto">
                           <div class="bg-faded rounded p-5 after_register">
                               <p> C'est presque bon, il ne reste qu'à activer ton compte via la boîte mail. <br/>
                                À tout de suite !</p>
                           </div>
                      </div>
                 </div>
            </div>
        </div>
    </section>

 {% endblock %}