{% extends 'base.html.twig' %}
{% block content %}
    <section class="page-section about-heading login-border bannier">
        <div class="container">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 mx-auto">
                        <div class="log bg-faded  rounded p-5">
                        <p>Le lien de réinitialisation à été envoyer sur ton email.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}