{% extends 'base.html.twig' %}

{% block content %}

    <section class="page-section about-heading login-border bannier">
        <div class="container">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 mx-auto">
                        <div class="log bg-faded  rounded p-5">
                            <h2 class="section-heading mb-4">
                                Mot de passe oublié
                            </h2>
                            <div class="well">
                                <div class="login">
                                    <div class="container">
                                        <div class="inner-form">
                                            {{ form_start(form) }}
                                            {{ form_row(form.username) }}
                                            <div class="text-center">
                                                <button class="btn btn-primary" type="submit">Envoyer</button>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}